<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDd4Yua-p8ohnInALoksqzr4jpGsaXj-aI</string>
	<key>GCM_SENDER_ID</key>
	<string>358908167465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aycaramba.app</string>
	<key>PROJECT_ID</key>
	<string>ay-caramba-2d799</string>
	<key>STORAGE_BUCKET</key>
	<string>ay-caramba-2d799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358908167465:ios:4587cf492658e26f45a338</string>
</dict>
</plist>